# env
.env.local

# Django
server/**/*.log
server/**/*.pot
server/**/*.pyc
server/**/__pycache__/
server/**/local_settings.py
server/**/db.sqlite3
server/**/db.sqlite3-journal
server/**/media


# React.js
frontend/**/.DS_*
frontend/**/logs
frontend/**/**/*.backup.*
frontend/**/**/*.back.*

frontend/**/node_modules
frontend/**/bower_components